<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>"../routers/userRouter.js"</script>
<body>
    <form action="/user/uploadfile" enctype="multipart/form-data" method="POST">
      
        <input type="file" id="myfile" name="myFile"><br><br>
        <input type="submit">
        
      </form>
      <button>thay đổi ảnh</button>
      <!-- <img style="width: 500px;" src=" 1618901892251-Capture.PNG" alt=""> -->
     
</body>
</html>